

##' ------------------------------------------------------------------------
##' IMPORT
##' ------------------------------------------------------------------------

import(methods)
import(data.table)
import(Xmisc)


importFrom(gtools,mixedsort)
importFrom(plyr,ddply)
importFrom(reshape2,acast)


##' ------------------------------------------------------------------------
##' EXPORT
##' ------------------------------------------------------------------------

exportPattern("^[^\\.]")
