

##' ------------------------------------------------------------------------
##' IMPORT
##' ------------------------------------------------------------------------

import(methods)
import(data.table)
import(Xmisc)


importFrom(gtools,mixedsort)


##' ------------------------------------------------------------------------
##' EXPORT
##' ------------------------------------------------------------------------

exportPattern("^[^\\.]")
